
*
{
    margin: 0;
    padding: 0;
    font-family:'gotham';
    
}


body
{
    background-image: url('/images/car.jpg');
    background-size: cover;
    
}


.menu
{
    /* background: blue; */
    background:transparent;
    margin-top: 15px;
    margin-left: 300px;
    padding: 1px 10px ;
    float: right;
    

    
}

.menu a
{
    color: white;
    text-decoration: none; /*enlever le souligné*/
    font-size: 16px;
    padding: 6px 11px;
    border-radius: 5px;
    
    /* espace entre les textes */ */
    

     
}

.menu a:hover
{
    cursor: pointer;
    background-color: rgb(0,0,0,.1);
}

.logo img
{
   height: 39px;
   padding: 1px 30px;
    float: left;
   margin-top:-30px;
}

h1
{   
    padding: 100px;
    color: white;
    text-align: center;
}

p
{
    padding: 100px;
    color: white;
    text-align: center;
    margin-top: -180px;
    font-size: 17px;
}

button
{
    background-color:transparent;
    border-radius: 7px;
    padding: 10px;
    width: 280px;
    margin-top: 420px;
    border-width: 4px;
    color: white;
    font-size: 10;
    border-color: white;
   

}

button:hover
{
    background-color: white;
    color: black;
    transition: 3s;
    
}